<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKLModel -->
      <package
            uri="platform:/resource/GKL_created_test/model/GKLModel.ecore"
            class="GKLModel.GKLModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKLModel -->
      <package
            uri="platform:/resource/reactionContainer/model/reactionContainer.ecore"
            class="reactionContainer.ReactionContainerPackage"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="GTLanguage.GTLanguagePackage"
            uri="platform:/resource/org.emoflon.ibex.gt/model/Gt.ecore">
      </package>
   </extension>


</plugin>
