/.ReactionLanguageIdeModule.java._trace
/.ReactionLanguageIdeModule.xtendbin
/.ReactionLanguageIdeSetup.java._trace
/.ReactionLanguageIdeSetup.xtendbin
/ReactionLanguageIdeModule.java
/ReactionLanguageIdeSetup.java
