<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ReactionModel -->
      <package
            uri="platform:/resource/org.reaction.reactionmodel/model/ReactionModel.ecore"
            class="ReactionModel.ReactionModelPackage"
            genModel="model/ReactionModel.genmodel"/>
   </extension>

</plugin>
