<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GKLModel -->
      <package
            uri="platform:/resource/org.reaction.gklExample/model/GKLModel.ecore"
            class="GKLModel.GKLModelPackage"/>
   </extension>

</plugin>
