<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testcasesModel -->
      <package
            uri="platform:/resource/GKL_created_test/model/testcasesModel.ecore"
            class="testcasesModel.testcasesModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestcasesModel -->
      <package
            uri="platform:/resource/GeneralTestSimSG/model/TestcasesModel.ecore"
            class="TestcasesModel.TestcasesModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testcasesModel -->
      <package
            uri="platform:/resource/reactionContainer/model/reactionContainer.ecore"
            class="reactionContainer.ReactionContainerPackage"/>
   </extension>

</plugin>
